{{ include_css('./style/liste_video.css') }}
{% if fiches|length > 0 %}
  <div class="video-grid vince">
    {% for fiche in fiches %}
        {% set id_video = null %}
        {% set type = null %}
        {% set serveur = null %}
        {% set urlpart = null %}
          <div class="video-entry bazar-entry " {{ fiche.html_data|raw }}>
            {% if fiche.imagebf_image is not empty %}
              <img class="trombi-image" alt="{{ fiche.bf_titre|raw|e('html_attr') }}"
                   src="{{ fiche['external-data'] 
                        ? fiche['external-data']['baseUrl'] ~ 'cache/image_300_300_' ~ fiche.imagebf_image
                        : resizedImages[fiche.id_fiche] }}"
                   {{ fiche['external-data']
                    ? 'onerror=this.src=\'' ~ fiche['external-data'].baseUrl ~ 'files/' ~ fiche.imagebf_image ~ "\'"
                    : '' }} > {# TODO refactor redimensionner_image to use url and local cache ; idea  http://image.intervention.io/  ? #}
            {% elseif  fiche.bf_url matches '/youtu\.?be/' %}
              {# si pas d'image de prez, on affiche la video embed #}
             
                {% set type = 'youtube' %}
                {% set urlpart = fiche.bf_url|split('=') %}
                {% if (urlpart[1] is not empty) %}
				            {% set id_video = urlpart[1] %}            
                {% else %}
                    {% set urlpart = fiche.bf_url|split('/') %}
                    {% if (urlpart[3] is not empty) %}
				              {% set id_video = urlpart[3] %}
                    {% endif %}
                {% endif %}
              {% elseif fiche.bf_url matches '/vimeo/' %}
                {% set type='vimeo' %}
                {% set urlpart = fiche.bf_url|split("vimeo.com/") %}
                {% if (urlpart[1] is not empty) %}
                  {% set id_video = urlpart[1] %}
                {% endif %}
              {% elseif fiche.bf_url matches '/dai\.?ly/' %}
                {% set type='dailymotion' %}
                {% set urlpart = fiche.bf_url|split("/video/") %}
                {% if (urlpart[1] is not empty) %}
                 {% set id_video = urlpart[1] %}
                {% else %}
                  {% set urlpart = fiche.bf_url|split("dai.ly/") %}
                  {% if (urlpart[1] is not empty) %}
                    {% set id_video = urlpart[1] %}
                  {% endif %}
                {% endif %}
              
              {% else %} 
            
                {# PeerTube #}
                {% set type = 'peertube' %}
                {% set urlpart = fiche.bf_url|split("/videos/embed/") %}
                {% if (urlpart[1] is not empty) %}
                  {% set id_video = urlpart[1] %} 
                  {% set instance = urlpart[0] %}
                {% else %}
                  {% set urlpart = fiche.bf_url|split("/w/") %}
                  {% if (urlpart[1] is not empty) %}
                    {% set id_video = urlpart[1] %} 
                    {% set instance = urlpart[0] %}
                   {% endif %} 
                {% endif %}  
              {% endif %}
              {% if type == 'youtube' or type == 'vimeo' %}
              
			         {{ format('{{video id="' ~ id_video ~ '"  serveur="' ~ type ~'" }}')|raw }}  
		          {% endif %}
  		        {% if type == 'peertube' %}
 	 		          {{ format('{{video id="' ~ id_video ~ '" peertubeinstance="' ~ instance ~ '" serveur="' ~ type ~'" }}')|raw }}
  		        {% endif %}
		          {% if type == 'dailymotion' %}
		           {# Gérer en iframe car pas encore dans le composant video#}
			          <iframe style="width:324px;height:182px;" frameborder="0" type="text/html" src="https://www.dailymotion.com/embed/video/{{id_video}}" width="100%" height="100%" allowfullscreen title="Dailymotion Video Player" > </iframe> 
	             {% endif %}
           
        

          <div class="caption trombi-content">
            <a  href="{{ fiche.url }}"  <h4>{{ fiche.bf_outil }}</h4></a>
             <p><i class="fa fa-user"></i> {{fiche.bf_structure}}</p>
             <a  href="{{ fiche.url }}"  <i class="fa fa-plus-square"></i> En savoir plus</a>

          {# Version pop up ----
           <a class=" modalbox" data-size="modal-lg" 
          href="{{ fiche.url ~ (fiche['external-data']  ? "/iframe" : "") }}"{{ fiche['external-data']  ? " data-iframe=\"1\"" : ''  }}
          title="{{ fiche.bf_titre|raw|e('html_attr') }}"><i class="fa fa-plus-square"></i> En savoir plus</a>
          ------- #}
         </div>
      </div>
    {% endfor %}
  </div> <!-- / trombi-container -->
{% endif %}
{{ pager_links }}