{# # This file is part of the YesWiki Extension alternativeupdatej9rem.
# Authors : see README.md file that was distributed with this source code.
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
# Feature UUID : auj9-custom-sendmail
#}

{% extends "@bazar/layouts/input.twig" %}

{% block input %}
    <select
        id="{{ field.propertyName }}"
        name="{{ field.propertyName }}"
        class="form-control"
        {% if field.required %}required{% endif %}
    >
        {% if not value %}
            <option value='' selected="selected">{{ _t('BAZ_CHOISIR') }}</option>
        {% else %}
            <option value='' ></option>
        {% endif %}
        {% for key, option in options %}
            <option value={{ key }} {% if value == key %}selected{% endif %}>{{ option|raw }}</option>
        {% endfor %}
    </select>
{% endblock %}
